/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2F343FFF;
    background-alt: #383C4AFF;
    foreground:     #DADADAFF;
    selected:       #67B0E8FF;
    active:         #8CCF7EFF;
    urgent:         #E57474FF;
}
